<div class="row">
  <div class="span8">

    <div class="page-header">
      <h1>Edit user</h1>
    </div>

    <form class="form-horizontal">
      <fieldset>

        <div class="control-group">
          <label for="username-input" class="control-label">Name</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-user"></i>
              </span>
              <input type="text" class="input-xlarge" id="username-input" value="<%= user.userName %>" />
              <p class="help-block">Enter a user name above, has to be between 2 and 100 chars.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="password-input" class="control-label">Password</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-briefcase"></i>
              </span>
              <input type="password" class="input-xlarge" id="password-input" value="<%= user.password %>" />
              <p class="help-block">Enter a password above.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="isadmin-input" class="control-label">Admin?</label>
          <div class="controls">
            <div class="input-prepend">
              <input type="checkbox" id="isadmin-input" value="<%= user.isAdmin %>" />
              <p class="help-block">true/false.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="fullname-input" class="control-label">full name</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-briefcase"></i>
              </span>
              <input type="text" class="input-xlarge" id="fullname-input" value="<%= user.fullName %>" />
              <p class="help-block">Enter full name above.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="email-input" class="control-label">Email</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-envelope"></i>
              </span>
              <input type="text" class="input-xlarge" id="email-input" value="<%= user.email %>" />
              <p class="help-block">Enter a valid email above.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="dateregistered-input" class="control-label">Registered on</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-time"></i>
              </span>
              <input type="text" class="input-xlarge" id="dateregistered-input" value="<%= formattedRegisteredDate %>" />
              <p class="help-block">
                Enter birth date above, using the format: MM/DD/YYYY.<br />
                Example: 01/07/1978.
              </p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="born-input" class="control-label">Born on</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-time"></i>
              </span>
              <input type="text" class="input-xlarge" id="born-input" value="<%= formattedBornDate %>" />
              <p class="help-block">
                Enter birth date above, using the format: MM/DD/YYYY.<br />
                Example: 01/07/1978.
              </p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="country-input" class="control-label">country</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-briefcase"></i>
              </span>
              <input type="text" class="input-xlarge" id="country-input" value="<%= user.country %>" />
              <p class="help-block">Enter country above.</p>
            </div>
          </div>
        </div>

        <div class="control-group">
          <label for="city-input" class="control-label">city</label>
          <div class="controls">
            <div class="input-prepend">
              <span class="add-on">
                <i class="icon-briefcase"></i>
              </span>
              <input type="text" class="input-xlarge" id="city-input" value="<%= user.city %>" />
              <p class="help-block">Enter city above.</p>
            </div>
          </div>
        </div>

        <!-- no entry field for timezone? TODO - determine users' timezone and save automatcially -->
        <div class="control-group">
          <label for="timezone-input" class="control-label">your timezone</label>
          <div class="controls">
            <div class="input-prepend">
              <input type="text" class="input-xlarge" id="timezone-input" value="<%= user.timezone %>" />
              <p class="help-block">Enter a valid timezone above.</p>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <a class="btn save-btn">Save</a>
          <a class="btn back-btn">Back</a>
        </div>

      </fieldset>
    </form>

  </div>
</div>
