<!-- a template to be inserted into the section with "page-content" class. Rendered by the view in views/privacy.js -->

  <div id="myPrivacyModal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <h3>FatKahawai privacy provisions</h3>  
    </div>  
    <div class="modal-body"> 
        <h4>Hello World from FatKahawai<sup>TM</sup></h4>  
        <p>Privacy conditions.</p>                
    </div>  
    <div class="modal-footer">  
<!--        <a href="#" class="btn btn-success">Call to action</a>  -->
        <a href="#" id="close" class="btn" data-dismiss="modal">Close</a>  
    </div>  
  </div>  
<!--  <p><a data-toggle="modal" href="#myPrivacyModal" class="btn btn-primary btn-large">Launch  modal</a></p>  -->

