    <div id="mySigninModal" class="modal hide fade in" style="display: none; ">  
    <div class="modal-header">  
      <a class="close" data-dismiss="modal">×</a>  
      <h3>Sign in</h3>  
    </div>  

    <div class="modal-body">  

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" id="username-input" placeholder="Username">
        <input type="password" class="input-block-level" id="password-input" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" id="rememberme-input"> Remember me
        </label>
        <button id="submit" class="btn btn-large btn-primary" type="submit">Sign in</button>
      </form>
    </div>    
    <div class="modal-footer">  
    </div>
    
  </div> <!-- /container -->
